html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  height: 100%;
  width: 100%;
}

#user-board,
#computer-board {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* 10 columns, each 30px */
  grid-template-rows: repeat(10, 30px); /* 10 rows, each 30px */
  gap: 2px;
}

.miss {
  background-color: aqua;
}

.hit {
  background-color: red;
}

.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
